body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin: 10px 0;
}

.row {
    margin-right: 1px;
    margin-left: 7px;
}

.media-heading {
    color: grey;
}

.media-object {
    width: 43px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.jumbotron {
    margin-right: 1px;
    margin-left: 35px;
}

.section {
    margin-top: 15px;
}

.btn-question {
    float: right;
}

.form-control.comment {
    margin-top: 10px;
}

.glyphicon-pencil {
    margin-top: -5px;
    float: right;
    color: grey;
    font-size: 18px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.glyphicon-trash {
    margin-top: -5px;
    float: right;
    color: grey;
    font-size: 18px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.glyphicon-envelope {
    font-size: 16px;
    top: 3px;
}

a {
    color: grey;
}

a:hover .glyphicon {
    color: steelblue;
}

a:focus, a:hover {
    color: steelblue;
    text-decoration: unset;
}

.info {
    float: right;
}

.info .active {
    color: steelblue;
}

.comment .collapse {
    border: 1px solid #eee;
    margin: 12px;
    padding: 13px;
    border-radius: 10px;
}

.question-tag {
    margin-right: 5px;
    font-size: 15px;
}

.xp {
    border: 0;
}

.related {
    list-style: none;
    padding-left: 0;
}

.num {
    height: 14px;
    padding: 0 3px;
    border-radius: 8px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 182px;
    left: 75px;
    z-index: 30;
    background-color: #FA5A57;
}